section{
    margin: 0 auto;
    font-family: Georgia;
    width: 500px;
    border: solid;
    align-self: center;
    text-align: center;
    padding: 10px;
}
section form input
{
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    padding-top: 20px;
    margin-bottom:10px;
}
section button{
    font-family: Georgia;
}